<!--<h1>Things that have to be done</h1>-->

<ul class="todo-wrapper">

  <!--Create new ToDo-Item-->
  <li class="todo-item new-todo-item">

    <div class="todo-item-state">
      <div class="btn btn-default" disabled>
        <i class="fa fa-plus fa-1x"></i></div></div>

    <input type="text" class="todo-item-new"
           placeholder="Neue Aufgabe"
           ng-model="newToDoItem.text"
           press-enter="createNewToDoItem(newToDoItem)"
           ng-focus="focusNewToDoItem()">
  </li>

  <!--Existing ToDo-Items-->
  <li class="todo-item"
      ng-repeat="todo in todos | orderBy:'state'"
      ng-dblclick="editTodo(todo)"
      ng-class="{edit: todo === todoEdit, inprogress: todo.state === 1, done: todo.state === 2}">

    <todo-state state="todo.state"
                ng-click="changeState(todo)"></todo-state>

    <input class="todo-item-edit"
           ng-model="todo.text"
           press-enter="saveToDoItem(todo)"
           press-escape="escapeEdit()">

    <div class="todo-item-text">{{todo.text}}</div>

    <div class="todo-item-remove"
         ng-click="deleteToDo(todo)"><i class="fa fa-times fa-1x"></i></div>

  </li>

</ul>
