<!--<h1>Things that have to be done</h1>-->

<ul class="todo-wrapper">

  <!--Create new ToDo-Item-->
  <li class="todo-item new-todo-item">
    <div class="todo-item-state">{{newToDoItem.state}}</div>
    <input type="text" class="todo-item-new"
           placeholder="Neue Aufgabe"
           ng-model="newToDoItem.text"
           press-enter="createNewToDoItem(newToDoItem)"
           ng-focus="focusNewToDoItem()">
  </li>

  <!--Existing ToDo-Items-->
  <li class="todo-item" ng-repeat="todo in todos" ng-dblclick="editTodo(todo)" ng-class="{edit: todo === todoEdit}">
    <div class="todo-item-state" ng-click="changeState(todo)">{{todo.state}}</div>
    <input class="todo-item-edit"
           ng-model="todo.text"
           press-enter="saveToDoItem(todo)">
    <div class="todo-item-text">{{todo.text}}</div>
    <div class="todo-item-remove" ng-click="deleteToDo(todo)">delete</div>
  </li>

</ul>
